main .need-help {
    padding: 20px 20px 20px 20px;
    background-color: var(--background-color-green);
    color: var(--text-color-secondary);
}

main .need-help p {
    font-weight: 300;
    font-size: (--body-font-size-xxs);
    line-height: 20px;
    padding-top: 20px;
}

main .need-help a {
    color: var(--text-color-secondary);
    font-weight: 600;
    padding-top: 0px;
}
main .need-help p.button-container {
    color: var(--text-color-secondary);
    font-weight: 600;
    padding-top: 0px;
}

main .need-help a::before {
    content: none;
}

@media (min-width:900px) {
    main .need-help {
        width: 285px;
    }
    
}